:root {
    font-size: 10px;
    --color-title-card:#353C57
}

body{
    background: #F5F5F5;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    max-width: 1920px;
    margin: 0;
}

.arrow > a{
    position: fixed;
    border: 1px solid #300C6A4D;
    padding: 2rem 3rem;
    border-radius: 50%;
    z-index: 3;
    background: #300C6A4D;
    bottom: 1rem;
    right: 9rem;
}



.container{
    width: 80%;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
}

.header-top {
    background: #243B93;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 0.7rem 20rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-top__nav {
    display: flex;
    text-align: center;
    list-style: none;
    align-items: center;
    font-size: 1.6rem;
    width: 70%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.header-top__nav a {
    color: white;
    text-decoration: none;
}

.title{
    background: #BFF0FF;
    padding: 1rem 0;
    box-sizing: border-box;
}

.title h2{
    font-weight: 400;
    font-style: italic;
    font-size: 4.4rem;
    color: #202846;
    margin: 0;
}

.list{
    background: #FFFFFF;
    color: #0000009C;
    text-align: center;
    font-size: 2.8rem;
    margin-top: 3.7rem;
    padding: 1rem 0;
    box-sizing: border-box;
    position: relative;
}

.list::after{
    content: url(./img/arrow.svg);
    position: absolute;
    right: 5rem;
    top: 25%;
}


.card{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    padding: 3.3rem 5.3rem 2.1rem 5.2rem;
    margin: 4.2rem 0;
}

.card:hover{
    background: rgba(44, 189, 235, 1);
    box-shadow: 0px 0px 60px 4px rgba(44, 189, 235, 1);
}

.card > .card-img{
    box-sizing: border-box;
    width: 40%;
}

.card-img > img{
    width: 100%;
    min-height: 100%;
}

.card > .card-description{
    width: 60%;
    padding-left: 5.3rem;
    box-sizing: border-box;
}

.card .card-description__title{
    font-weight: 700;
    font-style: italic;
    font-size: 3.6rem;
    color: var(--color-title-card);
    border-bottom: 3px solid white;   
}

.card .card-description__content{
    background: #EDFBFF;
    margin-top: 1rem;
    height: 75%;
}

.card .card-description__content-text{
    font-size: 1.6rem;
    width: 80%;
    padding-top: 1rem;
    padding-left: 1.6rem;
    box-sizing: border-box;
}


.card .star, .card .btn{
    position: absolute;
}

.card .star{
    top: 1rem;
    right: 1rem;
}

.card .star:hover{
    content: url(./img/star_yellow.svg);
}

.card .btn{
    right: -3rem;
    bottom: 1rem;
    color: white;
    text-decoration: none;
    background-color: #243B93;
    width: 20rem;
    text-align: center;
    border-radius: 5rem;
    font-size: 2.4rem;
    padding: 1rem 0;
    box-sizing: border-box;
    display: inline-block;
}

.card .btn:hover{
    background: #EF075B;
}

.title_two{
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    padding: 1rem 0;
    box-sizing: border-box;
}

.title_two h2{
    font-weight: 400;
    font-style: italic;
    font-size: 4.4rem;
    color: #243B93;
    margin: 0;
}

.profile-card{
    display: flex;
    margin-top: 3.6rem;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    justify-content: space-evenly;
    padding: 2rem 2rem;
}

.profile-card .list_one{
    text-align: center;
    list-style: none;
}

.profile-card .list_one > li{
    margin: 2rem 0;
    box-sizing: border-box;
    padding: 1rem;
}

.profile-card a{
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    padding: 1rem 4rem;
}

.profile-card .button{
    background-color: #243B93;
    border-radius: 5rem;
}

.profile-card .button:hover{
    background-color: #EF075B;
}

.profile-card .settings-btn:hover{
    background: #EF075B;
}

.profile-card .list_two{
    color: var(--color-title-card);
    list-style: none;
    font-size: 3.6rem;
    font-style: italic;
    width: 60%;
}

.profile-card .bold{
    font-weight: 700;
}

.profile-card .list_two li{
    border-bottom: 3px solid white;
    padding: 1.5rem;
}

.profile-card .list_two li:nth-child(5){
    border-bottom: none;
}

.exit_btn{
    text-align: center;
    margin-top: 2.8rem;
}

.exit_btn > a{
    background-color:#243B93;
    font-size: 2.4rem;
    color: white;
    text-decoration: none;
    border-radius: 5rem;
    padding: 1rem 5rem;
    text-transform: uppercase;
}

.exit_btn a:hover{
    background-color: #EF075B;
}

.title_three{
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    padding: 1rem 0;
    box-sizing: border-box;
    margin-top: 6.6rem;
}

.title_three h2{
    font-weight: 400;
    font-style: italic;
    font-size: 4.4rem;
    color: #243B93;
    margin: 0;
}

.contact{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.contact .list_one{
    list-style: none;
}

.contact a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    border-top: 3px solid #202846;
}

.contact li{
    padding: 0.5rem 0;
    font-size: 2rem;
}

.contact > .list_one > li:nth-child(1){
    font-size: 2.2rem;
}

.contact > .list_one > li:nth-child(3){
    font-size: 2.2rem;
    border-bottom: 3px solid #202846;
    padding-top: 1.6rem;
}

.list_two{
    list-style: none;
}

.contact .map{
    border: 3px solid #243B93;
    border-radius: 55px;
    height: 25rem;
}

.contact iframe{
    width: 50rem;
    height: 25rem;
    border-radius: 5rem;
}

.bottom{
    background: #243B93;
    margin-top: 2.8rem;
}

.bottom p{
    margin: 0;
    padding: 2.3rem 0;
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 3px;
}








