:root{
    font-size: 10px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F0FFF0;
    align-items: center;
    text-align: -webkit-center;
}

.welcome{
    min-height: 490px;
    width: 404px;
    background-color: black;
    padding-top: 1.3rem;
    box-sizing: border-box;
}

.logo{
    border: 4px solid white;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

img{
    padding-top: 4rem;
    box-sizing: border-box;
}

p{
    font-weight: 600;
    color: white;
    font-size: 2.9rem;
    letter-spacing: 1rem;
    padding-top: 2.6rem;
}

.login{
    padding-top: 2%;
    box-sizing: border-box;
    margin-top: 5rem;
}

.login > a{
    text-decoration: none;
    font-size: 1.9rem;
    text-transform: uppercase;
    border: 4px solid white;
    color: white;
    text-decoration: none;
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 800;
    padding: 2% 26%;
    box-sizing: border-box;
}




.sign_up{
    padding-top: 5%;
    box-sizing: border-box;
    margin-top: 2.5rem;
}

.sign_up > a{
    border: 4px solid white;
    color: white;
    text-decoration: none;
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 800;
    padding: 2% 24%;
    box-sizing: border-box;
}
