table{
    width: 100%;
    text-align: center;
    border-spacing: 3px;
}

td{
    height: 70px;
    width: 70px;
    border: 1px solid black;
}

.row_one > td:nth-child(2){
    border: none;
}

.row_two > td:nth-child(3){
    border: none;
}

.row_three > td:nth-child(3){
    border: none;
}

.row_eight > td{
    border: none;
}

.row_nine > td:nth-child(1){
    border: none;
}

.row_ten > td:nth-child(1){
    border:none;
}

p:nth-child(1){
    font-size: 5px;
}

p:nth-child(3){
    font-size: 5px;
}

.row_six > td:nth-child(3){
    font-size: 12px;
}

.row_seven > td:nth-child(3){
    font-size: 12px;
}





    
