:root{
    font-size: 10px;
}

body{
    max-width: 1920px;
    background: #212529;
    margin: 0;
}

.header-top{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    background: #212529;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0 2%;
    box-sizing: border-box;
}

.header-top__nav{
    display: flex; 
    justify-content: space-between;
    width: 35%;
    font-weight: 600;
    font-size: 1.8rem;
    list-style: none;
}

.header-top__nav a{
    color: white;
    text-decoration: none;
}

.header-top__nav a:hover{
    color:#FFB742;
    transition: 0.3s;
}

.header-top__btn{
    margin-top: 1.9rem;
}

.btn{
    border: 2px solid #FFB742;
    border-radius: 5rem;
    padding: 1.2rem 2.6rem;
    box-sizing: border-box;
    background: #FFB742;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    color: #212529;
    text-decoration: none;
}

.container{
    text-align: center;
    margin: 11rem auto;
    font-family: 'Inter', sans-serif;
    color: white;
    text-transform: capitalize;
}

.container > h2{
    font-size: 3.2rem;

}

h2 > span > a{
    color: white;
}

h2 > span > a:hover{
    color: #FFB742;
    transition: 0.3s;
}

.container > h1{
    font-size: 4.8rem;
    font-weight: 700;
}

.container > h4{
    font-weight: 400;
    font-size: 2.4rem;
    margin-top: 10rem;
}

.container > img{
    margin-top: 2.2rem;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #292B2E;
    background: #292B2E;
    border-radius: 7px;
    width: 30%;
    padding: 1rem 3rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
}

.card > ul{
    list-style: none;
    text-align: center;
}

.card > ul >li:nth-child(1){
    font-size: 3.2rem;
    color: #FFB742;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.card > ul > li:nth-child(2){
    font-size: 1.6rem;
    color: #FFFFFF;
}

.card:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.card:hover > ul > li{
    color: #212529;
}

.info{
    display: flex;
}

.content{
    width: 54%;
    margin-top: 5%;
    margin-left: 3%;
}

.photo{
    margin-top: 5%;
    width: 45%;
}

.photo > img{
    width: 100%;
}


.content > .content-subject{
    display: inline-block;
    border: 1px solid #FFFFFF14;
    border-radius: 50px;
    padding: 0.6rem 2.5rem;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #FFB742;
    background: #FFFFFF14;
}

.content > .content-header{
    font-family: 'Roboto', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.content > .content-text{
    color: #D4D4D4;
    margin-top: 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    width: 85%;
}

.content > .content-button{
    margin-top: 5.5rem;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.box{
    display: flex;
    flex-direction: row;
}

.content__skills{
    margin-top: 1.8rem;
}

.content__skills > .content-header{
    width: 80%;
}

.content__skills > .content-text{
    width: 100%
}

.icons{
    display: flex;
    flex-direction: column;
}

.items{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.items > .item{
    width: 8rem;
    height: 8rem;
    border: 1px solid #383E45;
    background: #383E45;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    cursor: pointer;
     
}

.items > .item:hover{
    background: #FFB74280;
    transition: 0.3s;
}

.holder{
    text-align: center;
}

.holder-portfolio> .holder-portfolio__button{
    display: inline-block;
    margin-top: 15rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #FFB742;
    background: #FFFFFF14;
    border: 1px solid #FFFFFF14;
    border-radius: 5rem;
    padding: 0.6rem 2.5rem;
    box-sizing: border-box;
    text-transform: uppercase;
    cursor: pointer;
}

.holder-portfolio > .holder-portfolio__header{
    font-family: 'Roboto', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.holder-portfolio__nav{
    display: flex;
    justify-content: center;
}

.holder-portfolio__nav-item{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style: none;
}

.holder-portfolio__nav-item li{
    border: 1px solid #212529;
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
}

.holder-portfolio__nav-item a{
    text-decoration: none;
    color: white;
}

.holder-portfolio__nav-item > li:hover{
    background: #FFB742;
    transition: 0.3s;
}

.holder-portfolio__nav-item > li:hover >a{
    color: #212529;
}

.picture{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture > .picture-list{
    display: flex;
    flex-direction: column;
    width: 30%;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.picture-list > li{
    padding: 1%;
    box-sizing: border-box;
}

.picture-list > li > img{
    width: 100%;
}



.holder > .holder-testimonals__button{
    margin-top: 13.5rem;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFB742;
    border: 1px solid #FFFFFF14;
    background: #FFFFFF14;
    border-radius: 5rem;
    padding: 0.6rem 2.5rem;
    box-sizing: border-box;
    cursor: pointer;
}

.holder > .holder-testimonals__header{
    margin-top: 0.6rem;
    font-family: 'Roboto', sans-serif;
    font-size: 3.9rem;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.holder-testimonals__cards{
    display: flex;
    margin: 11rem 0 25rem 0;
    justify-content: space-evenly;
}

.holder-testimonals__card{
    width: 30%;
    border: 1px solid #FFFFFF;
    border-radius: 0.8rem;
    background-color: #FFFFFF;
    padding: 5rem 5.1rem 5.5rem 3.3rem;
    box-sizing: border-box;
}

.holder-testimonals__card > .stars{
    list-style: none;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding-inline-start: 0;
}

.holder-testimonals__card > .text{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.4rem;
    width: 85%;
    margin-top: 2rem;
}

.user{
    margin-top: 3.6rem;
    display: flex;
}

.user > ul{
    text-align: left;
    list-style: none;
}

.user .name{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.user .position{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.footer{
    background:#1C1C1C;
    display: flex;
    flex-direction: row;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15rem 5rem 9.3rem 5rem;
}

.footer > .author{
    width: 25%;
}

.author > .name{
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    color: #FFB742;
}

.author > .text{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #D4D4D4;
    width: 70%;
    margin-top: 3rem;
}

.footer > .list{
    padding-top: 0.7rem;
    box-sizing: border-box;
}

.footer > .list > .list_header{
    font-size: 2.1rem;
    font-weight: 700;
    color: #F5FBF2;
}

.footer > .list > .link{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.8rem;
    padding-inline-start: 0;
}

.footer > .list > .link li{
    padding: 1rem 0;
    box-sizing: border-box;
}

.footer > .list > .link a{
    text-decoration: none;
    color: #7B7B7B;
}

footer li{
    padding: 1rem 0;
    box-sizing: border-box;
}

.footer > .list > .link a:hover{
    color: #FFB742;
    transition: 0.3s;
}

.footer > .sidebar{
    width: 25%;
}

.footer > .sidebar > .header{
    font-family: 'Poppins', sans-serif;
    font-size: 2.1rem;
    font-weight: 700;
    color: #F5FBF2;

}

.footer > .sidebar > .text{
    margin-top: 0.8rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #7B7B7B;
}



































