:root{
    font-size: 10px;
}

body{
    margin: 0;
    font-family: 'Inika', serif;
    font-weight: 700;
}

.header{
    text-transform: uppercase;
    font-size: 4.8rem;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    text-align: center;
}

.blue{
    color: #3E45E8;
}

.yellow{
    color: #E8C23E;
}

.banner{
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
    padding-left: 5%;
    padding-top: 13%;
    padding-bottom: 22%;
    box-sizing: border-box;
}

.banner_text{
    background-image: url(./img/flag.png);
    background-repeat: no-repeat;
    font-size: 4.8rem;
    color: white;
    width: 85%;
    padding-left: 5%;
    box-sizing: border-box;
}

.header2{
    font-size: 4rem;
    margin-top: 3%;
    margin-left: 5%;
}

.header2_flag{
    margin-top: 1rem;
    margin-bottom: 3%;
}

.card{
    margin-left: 5%;
    border: 5px solid black;
    width: 25%;
    display: inline-block;
    border-radius: 8%;
}

.card_image{
    width: 100%;
}

.card_title{
    font-weight: 700;
    font-size: 24px;
    color: #0072DB;
    padding-top: 3%;
    padding-left: 1%;
    box-sizing: border-box;
}

.card_subtitle{
    font-weight: 400;
    font-size: 20px;
    color: #FF9900;
    box-sizing: border-box;
    padding-top: 3%;
    padding-left: 1%;
    padding-bottom: 10%;
}

.card_1{
    box-shadow: -16px 21px 40px 0px rgba(0, 209, 255, 0.35);
}

.card_2{
    box-shadow: 0px 21px 35px 0px rgba(0, 209, 255, 0.35);
}

.card_3{
    box-shadow: 16px 21px 40px 0px rgba(0, 209, 255, 0.35);
}

.header3{
    font-size: 4rem;
    margin-top: 3%;
    text-align: center;
}

hr{
    border-bottom: 5px solid #1400FF;
    width: 592px;
}

.img-map{
    text-align: center;
    margin-top: 3rem;
    width: 80%;
    margin: 0 auto;
}

.img-map > img{
    width: 100%;
}

.button{
    margin-top: 3%;
    margin-left: 32%;
}


.button > a{
    font-size: 6.4rem;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    background: #2A61F0;
    border-radius: 50px;
    padding: 1rem 20.7rem;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50px;
}

.block_bottom{
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    text-align: center;
    margin-top: 3rem;
}

.link{
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.mail{
    color: #A89D9D;
    text-decoration: none;
}

.tel{
    color: #A89D9D;
    text-decoration: none;
}

.social_media{
    box-sizing: border-box;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
}

.facebook{
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
}

h6{
    margin-block-start: 9px;
    margin-left: 28px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
}

.p1{
    margin-block-start: -25px;
    margin-left: 2.8rem;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    width: 24%;
    display: block;
    float: left;
    font-weight: 400;
}

.p2{
    margin-block-start: -25px;
    margin-left: 2.8rem;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    width: 37%;
    display: block;
    float: left;
    font-weight: 400;
}

