:root{
    font-size: 10px;
}

body{
    background: #F9F9F9;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

.page-header{
    margin-top: 6.4rem;
    margin-left: 4.8rem;
}

.page-header > p{
    font-weight: 700;
    font-size: 2.4rem;
}

.container{
    margin: 0 4.3rem;
}

.text{
    font-weight: 400;
    font-size: 1.4rem;
    color: #171717;
}

.text > .red{
    color: #D83933;
}

.subtitle{
    margin-top: 2.4rem;
}

.subtitle > p{
    font-weight: 700;
    font-size: 2rem;
}

.forms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.form p{
    display: flex;
    flex-direction: column;
}

input{
    height: 4rem;
    cursor: pointer;
}

select{
    height: 4rem;
    padding: 0 3%;
    background-image: url(./img/arrow.svg);
    background-repeat: no-repeat;
    appearance: none;
    background-position-x: 95%;
    background-position-y: 50%;
    cursor: pointer;
}

input[type="date"]{
    padding: 0 3%;
}

input[type="search"]{
    background-image: url(./img/search.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    border-style: none;
    border: 1px solid rgb(133, 133, 133);
    
}

input::placeholder{
    padding-left: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

label{
    font-weight: 500;
    font-size: 1.6rem;
    padding: 2rem 0 0.8rem 0;
    box-sizing: border-box;
}

.form-list_one label[for="type"] > span{
    color: #D83933;
}

input[id="type"]::placeholder{
    color: #171717;
}

select[id="application"]{
    color: #0050D8;
}

input[id="date"]{
    background-color: #ADADAD;
    border: none;
}

input[id="date"]::placeholder{
    color: #747474;
}

label[for="appl."] > span{
    color: #D83933;
}

input[id="enrollment"]{
    background-color: #ADADAD;
    border: none;
}

input[id="enrollment"]::placeholder{
    text-align: center;
    color: #747474;
}

input[type="checkbox"]{
    width: 2.4rem;
    height: 2.4rem;
}

.form-list_one > .checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-list_one > .checkbox > label{
    padding: 1%;
}

.form-list_one input[type="checkbox"]{
    accent-color: #FF00FF;
}

input[id="remaining-days"]::placeholder{
    color:#171717;
}

.form-list_two .checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25%;
    margin-bottom: 7%;
}

.form-list_two .checkbox > label{
    padding: 1%;
}

.border{
    border-bottom: 1px solid #D1D1D1;
    padding-top: 3rem;
}

.maternity-info__form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.maternity-info__form p{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.maternity-info__form .checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2%;
}

.maternity-info__form .checkbox label{
    padding: 1%;
}

.form .none select{
    color: #747474;
}
    
.form-list_four label>span{
    color: #D83933;
}

input[id="owner"]::placeholder{
    color: #0050D8;
}

input.button-next{
    margin-top: 3%;
    margin-left: 95%;
    height: 4rem;
    width: 7rem;
    background-color: #0050D8;
    border-color: #0050D8; 
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
}

