body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-left: 3%;
    width: 61%;
}

.header_one{
    text-align: center;
    font-size: 40px;
}

h2{
    font-size: 32px;
}

p{
    font-size: 16px;
}

.mercury{
    text-align: center;
    margin-top: 55px;
}

.mercury > h2{
    text-align: left;
}

.mercury > p{
    text-align: left;
}

.venus{
    margin-top: 62px;
    text-align: left;
}

.venus > h2{
    text-align: right;
}

.earth{
    margin-top: 46px;
    text-align: right;
}

.earth > h2{
    text-align: center;
}

.earth > p{
    text-align: center;
}

.mars{
    margin-top: 31px;
    text-align: center;
}

.mars > h2{
    text-align: left;
}

.mars > p{
    text-align: left;
}

.jupiter{
    text-align: center;
}

.saturn{
    text-align: center;
    margin-top: 48px;
}

.saturn > p{
    text-align: left;
}

.uranus{
    text-align: left;
    margin-top: 48px;
}

.uranus > h2{
    text-align: right;
}

.neptune{
    margin-top: 54px;
    text-align: right;
}

.neptune > h2{
    text-align: left;
}

.neptune > p{
    text-align: left;
}

table{
    margin-top: 71px;
    border: 1px solid black;
    width: 100%;
}

th{
    border: 1px solid black;
    height: 25px;
}

td{
    border: 1px solid black;
    height: 25px;
}