body{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.paragraph_1{
    font-weight: 600;
}

.paragraph_3{
    font-style: italic;
}

.paragraph_5{
    font-style: italic;
}

.paragraph_6{
    font-weight: 600;
}

.paragraph_9{
    font-style: italic;
}

ol{
    margin: 0;
    padding-inline-start: 20px;   
}

ul{
    padding-inline-start: 0;
    list-style: none
}
