:root{
    font-size: 10px;
}

body{
    margin: 0;
    font-weight: 400;
    background-color: #001124
}

.login{
    display: flex;
    padding-top: 10%;
    box-sizing: border-box;
}

.login .login-image{
    width: 40%;
}

.login-image > img{
    width: 100%;
    box-sizing: border-box;
}

.login-form{
    width: 35%;
    padding-left: 10%;
    box-sizing: border-box;
}

.login-form h3{
    font-family: 'DM Serif Display', serif;
    font-size: 4.5rem;
    color: white;
    text-transform: capitalize;
    padding-top: 7%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.login-form > .one{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.login-form input{
    height: 4rem;
}

.login-form label[for]{
    font-family: 'Padauk', sans-serif;
    color: white;
    font-size: 2rem;
}

.login-form .form_two{
    padding-top: 3%;
}

.form_two a{
    color: #499FFE;
    text-decoration: none;
}

.one label[for="register"]>span>a{
    color: #499FFE;
    text-decoration: none;
}

.one input[type="button"]{
    width: 50%;
    border: none;
    background: #015FC7;
    color: white;
    cursor: pointer;
    padding-top: 1%;
}

.registration{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;
    padding-top: 1%;
    box-sizing: border-box;
}

.registration > .registration-img{
    padding-top: 1%;
    box-sizing: border-box;
    width: 25%;
}

.registration > .registration-img > img{
    width: 100%;
}

.registration-form{
    width: 60%;
}

.registration-form  h1{
    font-family: 'DM Serif Display', serif;
    font-size: 4.5rem;
    color: white;
    margin-block-start: 0;
}

.registration-form p{
    display: flex;
    flex-direction: column;
}

.registration-form label{
    font-family: 'Padauk', sans-serif;
    font-size: 2rem;
    color: white;
}

.registration-form input{
    width: 50%;
    height: 3rem;
}

.registration-form .button{
    padding-top: 3%;
    padding-left: 15%;
}

.registration-form input[type="submit"]{
    text-transform: uppercase;
    width: 25%;
    text-transform: uppercase;
    height: 3rem;
    color: white;
    background: #015FC7;
    border: none;
    cursor: pointer;
}







